{% extends "ez/base.html" %}
{% load static %}
{% block content %}

<style>
  #upload-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  #form{
    margin: 0 auto;
  }

  #title{
    font-family: 'Geo', sans-serif;
    font-weight: normal;
    font-size: 38px;
    padding-bottom: 2pt;
    border-bottom: solid 1px grey;
    width: 100%;
    margin-top: 30px;
  }

  #sub-title{
    font-family: 'Open sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 15pt;
  }

  #submit-button{
    float: right;
    margin-top: 5pt;
  }

  img{
    width: 36px;
    opacity: 0.3;
  }

  .item-div{
    position: relative;
    border: solid 1px grey;
    margin: 2px;
    padding: 1px;
    border-radius: 5px;
    display: inline-block;
    -webkit-transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;
    transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;
  }

  .item-div > input{
    margin: 0;
    display: none;
  }

  .item-div img{
    margin-left: 10px;
    vertical-align: bottom;
  }

  .item-div:hover{
    box-shadow: 0px 0px 5px grey;
  }

  .selected{
    box-shadow: 0px 0px 5px grey;
  }

  .hide{
    display: none;
  }

  .menu-button{
    position: relative;
    border: solid 1px grey;
    margin: 2px;
    padding: 1px;
    border-radius: 5px;
    display: inline-block;
    -webkit-transition: border-color 0.25s ease-in-out;
    transition: border-color 0.25s ease-in-out;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .menu-button:hover{
    box-shadow: 0px 0px 5px grey;
  }

  .select-all::before{ content:"Select all"; }

  .deselect-all::before{ content:"Deselect all"; }

  #search-input{
    border: solid 1px grey;
    margin: 2px;
    padding: 1px;
    border-radius: 5px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }

</style>

<div id="upload-container" class="row center-xs">
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <div class="row start-xs">
      <div class="col-xs-12">
        <div class="box">
          <div id="title"><span>Ez 2 Share</span></div>
            <div id="select-all-button" class="select-all menu-button clickable"></div>
            <div id="filter-selected-button" class="menu-button clickable">Filter selected</div>
            <div id="filter-not-selected-button" class="menu-button clickable">Filter not selected</div>
            <input id="search-input" type="text" placeholder="Search" value=""></input>
            <form id="form" action="/ajax/download_files/" method="post">
              {% csrf_token %}
              <div>
              {% for id, name in files %}
                <div class="item-div clickable" data-name="{{name}}">
                  <input type="checkbox" name="download" value={{id}}></input>
                  {{name}}
                  <img src='{% static "ez/images/picture.svg" %}'></img>
                </div>
              {% endfor %}
              </div>
            <input id="submit-button" type="submit" value="Download">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  function _selectAll(isOn){
    if(isOn){
      $('.item-div').addClass('selected');
      $('.item-div').find('input').attr('checked', 'checked');
    }
    else{
      $('.item-div').find('input').removeAttr('checked');
      $('.item-div').removeClass('selected');
    }
  }

  function _filterItems(filter){
    var filter = filter;
    $('.item-div').removeClass('hide');
    $('.item-div').filter(function( index ) {
      return $(this).data('name').indexOf(filter) === -1;
    }).addClass('hide');
  }

  $( document ).ready(function() {

      $('#filter-not-selected-button').on('click', function(){
        var isActive = $(this).hasClass('selected');
        if(isActive){
          $(this).removeClass('selected');
          $('.item-div').removeClass('hide');
        }
        else{
          // Toggle the other filter if it is active first
          if( $('#filter-selected-button').hasClass('selected') ){
            $('#filter-selected-button').click();
          }
          $(this).addClass('selected');
          $('.item-div').filter(function( index ) {
            return $(this).hasClass('selected');
          }).addClass('hide');
        }
      })

      $('#filter-selected-button').on('click', function(){
        var isActive = $(this).hasClass('selected');
        if(isActive){
          $(this).removeClass('selected');
          $('.item-div').removeClass('hide');
        }
        else{
          // Toggle the other filter if it is active first
          if( $('#filter-not-selected-button').hasClass('selected') ){
            $('#filter-not-selected-button').click();
          }
          $(this).addClass('selected');
          $('.item-div').filter(function( index ) {
            return !$(this).hasClass('selected');
          }).addClass('hide');
        }
      })

      $('#search-input').on('keyup', function(){
        var value = $(this).val();
        _filterItems(value);
      });

      $('#search-input').on('change', function(){
        var value = $(this).val();
        _filterItems(value);
      });

      $('#select-all-button').on('click', function(){
        var shouldSelect = $(this).hasClass('select-all');
        if(shouldSelect){
          $(this).addClass('deselect-all');
          $(this).removeClass('select-all');
          _selectAll(true);
        }
        else{
          $(this).addClass('select-all');
          $(this).removeClass('deselect-all');
          _selectAll(false);
        }
      });

      $('.item-div').on('click', function(){
        var checked = $(this).find('input').attr('checked');
        if(checked === undefined){
          $(this).find('input').attr('checked', 'checked');
          $(this).addClass('selected');
        }
        else{
          $(this).find('input').removeAttr('checked');
          $(this).removeClass('selected');
        }
      });
  });
</script>
{% endblock %}
