{% extends "ez/base.html" %}
{% load static %}
{% block content %}

<style>
  #upload-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  #form{
    margin: 0 auto;
  }

  #title{
    font-family: 'Geo', sans-serif;
    font-weight: normal;
    font-size: 38px;
    padding-bottom: 2pt;
    border-bottom: solid 1px grey;
    width: 100%;
    margin-top: 30px;
  }

  #sub-title{
    font-family: 'Open sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 15pt;
  }

  #submit-button{
    float: right;
    margin-top: 5pt;
  }

  img{
    width: 36px;
    opacity: 0.3;
  }

  .item-div{
    position: relative;
    border: solid 1px grey;
    margin: 2px;
    padding: 1px;
    border-radius: 5px;
    display: inline-block;
    -webkit-transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;
    transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;
  }

  .item-div > input{
    margin: 0;
    display: none;
  }

  .item-div img{
    margin-left: 10px;
    vertical-align: bottom;
  }

  .item-div:hover{
    box-shadow: 0px 0px 5px grey;
  }

  .selected{
    box-shadow: 0px 0px 5px grey;
  }

  .hide{
    display: none;
  }

  .menu-button{
    position: relative;
    border: solid 1px grey;
    margin: 2px;
    padding: 1px;
    border-radius: 5px;
    display: inline-block;
    -webkit-transition: border-color 0.25s ease-in-out;
    transition: border-color 0.25s ease-in-out;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .menu-button:hover{
    box-shadow: 0px 0px 5px grey;
  }

  .select-all::before{ content:"Select all"; }

  .deselect-all::before{ content:"Deselect all"; }

  #search-input{
    border: solid 1px grey;
    margin: 2px;
    padding: 1px;
    border-radius: 5px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }

</style>

<div id="upload-container" class="row center-xs">
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <div class="row start-xs">
      <div class="col-xs-12">
        <div class="box">
          <div id="title"><span>Ez 2 Share</span></div>
            <input id="search-input" type="text" placeholder="Search" value=""></input>
            <form id="form" action="/ajax/download_files/" method="post">
              {% csrf_token %}
              <table>
                <thead>
                  <tr>
                    <th>File</th>
                    <th>Uploader Name</th>
                    <th>Deposit date</th>
                    <th class="align-right"><input type="checkbox" id="select-all" onclick="_selectAll()"></input></th>
                  </tr>
                </thead>
                <tbody>
                  {% for id, name, created_at, username in files %}
                    <tr class="item-tr" data-name="{{name}}" data-user="{{username}}">
                      <td>{{name}}</td>
                      <td>{{username}}</td>
                      <td>{{created_at}}</td>
                      <td class="align-right"><input type="checkbox" name="download" value={{id}}></input></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            <input id="submit-button" type="submit" value="Download">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  function _selectAll(){
    let isOn = $('#select-all').is(':checked');
    if(isOn){
      $('.item-tr:not(.hide)').find('input').prop('checked', true);
    }
    else{
      $('.item-tr:not(.hide)').find('input').prop('checked', false);
    }
  }

  function _filterItems(filter){
    var filter = filter;
    $('.item-tr').removeClass('hide');
    $('.item-tr').filter(function( index ) {
      return $(this).data('name').indexOf(filter) === -1 && $(this).data('user').indexOf(filter) === -1;
    }).addClass('hide');
  }

  $( document ).ready(function() {

      $('#search-input').on('keyup', function(){
        var value = $(this).val();
        _filterItems(value);
      });

      $('#search-input').on('change', function(){
        var value = $(this).val();
        _filterItems(value);
      });
  });
</script>
{% endblock %}
