{% extends "ez/base.html" %}
{% load static %}
{% block content %}

<script src="https://transloadit.edgly.net/releases/uppy/v1.0.0/uppy.min.js"></script>
<link href="https://transloadit.edgly.net/releases/uppy/v1.0.0/uppy.min.css" rel="stylesheet">
<style>
  #upload-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  #form{
    margin: 0 auto;
  }

  #title{
    font-family: 'Geo', sans-serif;
    font-weight: normal;
    font-size: 38px;
    padding-bottom: 2pt;
    border-bottom: solid 1px grey;
    width: 100%;
  }

  #sub-title{
    font-family: 'Open sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 15pt;
  }

  #id_repository_name{
    width: 100%;
  }

</style>

<div id="upload-container" class="row center-xs middle-xs">
  <div class="col-xs-8">
    <div class="row start-xs">
      <div class="col-xs-12">
        <div id="title"><span>Ez 2 Share</span></div>
        <input id="username" value="" placeholder="your name, optional."></input>
        <div id="drop-zone"></div>
      </div>
    </div>
  </div>
</div>

<script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  var uppy = Uppy.Core()
  uppy.use(Uppy.Dashboard, {
    trigger: '.UppyModalOpenerBtn',
    inline: true,
    target: '#drop-zone',
    replaceTargetContent: true,
    showProgressDetails: true,
    note: 'Images only.',
    height: 470,
    width: "100%",
    restrictions: {
      maxFileSize: 20000000,
      allowedFileTypes: ['image/*', '.jpg', '.jpeg', '.png', '.gif']
    },
    browserBackButtonClose: true
  })

  uppy.use(Uppy.XHRUpload, {
    endpoint: '/ajax/upload_files/',
    headers: {
      'X-CSRFToken': csrftoken
    },
    metaFields: ['username'],
  })

  uppy.on('file-added', (file) => {
    uppy.setFileMeta(file.id, {
      username: $('#username').val()
    })
  })
</script>
{% endblock %}
